[{{ type }}{% if units %}: {{ units }}{% endif %}]
{%- if constraints and constraints.get('required', False) %}
 *required*
{% else %}
 optional
{% endif %}

{{ description }}

{% if constraints -%}
  {% for key, value in constraints.items() -%}
    {% if key in ['unique', 'minimum', 'maximum'] -%}
      {{ key }}: {{ value }}
    {% endif %}
  {% endfor %}
{%- endif -%}
{% if example -%}
  example: {{ example }}
{% endif %}
