<h2>{{metadata.title}}</h2>
<p><strong>DOI for current scientific data (Identifier):</strong> <a href="{{metadata.id}}">{{metadata.id}}</a></p></p>
<p><strong>Creator:</strong> {{metadata.publisher}}</p>
<p><strong>Title:</strong> {{metadata.title}}</p>
<p><strong>Publisher:</strong> {{metadata.publisher}}</p>
<p><strong>Publication year:</strong> {{date[:4]}}</p>
<p><strong>Release date:</strong> {{date}}</p>
<p><strong>Rights:</strong> {{metadata.usageTerms}}</p>
<p><strong>Citation:</strong> WGMS ({{date[:4]}}): {{metadata.title}}. {{metadata.publisher}}, Zurich, Switzerland. <a href="{{metadata.id}}">{{metadata.id}}</a></p>
<p><strong>Related publications:</strong></p>
<p>{{publications.ggcb_2023}}</p>
<p>{{publications.gmbb_2013}}</p>
<p>{{publications.fog_2012}}</p>
<p>... and <a href="https://wgms.ch/literature_published_by_wgms">earlier issues</a></p>
<p><strong>Contributors:</strong> {{metadata.collaborators}}</p>
<p><strong>Language:</strong> English</p>
<p><strong>Data format:</strong> CSV files, zipped</p>
<p><strong>Data size:</strong> {{megabytes}} MB</p>
<p><strong>Description:</strong> {{metadata.description}}</p>
<p><strong>Spatial coverage:</strong> {{metadata.spatialCoverage}}</p>
<p><strong>Temporal coverage:</strong> {{metadata.temporalCoverage | replace('/', '–')}} AD</p>
