{% if field.description %}
  - `description` {{ field.description | indent(4, False) }}
{% endif %}
{% if field.units %}
  - `units` {{ field.units | indent(4, False) }}
{% endif %}
{% if field.example %}
  - `example` {{ field.example }}
{% endif %}
{% if field.type %}
  - `type` {{ field.type }}
{% endif %}
{% if field.constraints %}
  - `constraints`
  {% for key, value in field.constraints.items() %}
    {% if key == 'pattern' %}
    - `{{ key }}` `{{ value }}`
    {% else %}
    - `{{ key }}` {{ value }}
    {% endif %}
  {% endfor %}
{% endif %}
