# `{{ package.name }}`{% if package.title %} {{ package.title }}{% endif %}

<span class="larger-text">[Overview](#overview) · [Major changes](#major-changes)<br>
<span class="larger-text">[Tables](#tables)</span> : {% for resource in package.resources %}
[`{{ resource.name }}`](#{{ resource.name }}){% if not loop.last %} · {% endif %}
{% endfor %}{{ "\n" }}

{{ package.description}} This file is generated from contents of the `datapackage.json` file.

{{ package | filter_dict(exclude=['name', 'title', 'resources', '$schema', 'description', 'created', 'languages']) | dict_to_markdown() }}
<div class='break-after'></div>

## Overview

The data tables are stored as comma-separated value (CSV) files in the `data` subfolder. Tables refer to each other by special columns that uniquely identify each record (i.e., a foreign key referencing another table's primary key).

* [`glacier`](#glacier): Glacier lookup by country, region, names, latitude and longitude, and [GLIMS](https://www.glims.org), [RGI](https://www.glims.org/RGI), and [WGI](https://nsidc.org/data/glacier_inventory) identifiers. The `id` column uniquely identifies a glacier and is referenced in other tables using their `glacier_id` column.
* [`state`](#state): Glacier-wide area, elevation (mean, lowest, highest), length, and terminus type. For area and mean elevation by elevation band, see [`state_band`](#state_band) (whose `state_id` references column `id` in `state`).
* [`change`](#change): Glacier-wide elevation and volume change (typically from repeat mapping of surface elevation). For elevation and volume change by elevation band, see [`change_band`](#change_band) (whose `change_id` references column `id` in `change`).
* [`front_variation`](#front_variation): Changes in glacier length (typically from repeat measurements to a fixed reference).
* [`mass balance`](#mass_balance): Glacier-wide mass balance and survey overview. See [`mass_balance_band`](#mass_balance_band) for mass balance by elevation band and [`mass_balance_point`](#mass_balance_point) for the original point measurements. Both refer to the `mass_balance` table by columns `glacier_id` and `year`.
* [`event`](#event): Extraordinary events concerning glaciers.
* [`person`](#person): Persons referenced from other tables' `investigators` column.
* [`agency`](#agency): Agencies referenced from other tables' `investigators` and `agencies` columns.

## Major changes

The data format has changed substantially since the previous version (2024-01). Below are the most significant changes:

- **All measurement units are standardized to the meter**: m, m w.e., m², m³, kg m⁻³.
- Accumulation-area ratio ([`mass_balance.aar`][#mass_balance.aar]) is a fraction (0-1) rather than a percentage (0-100%).
- All table and column names are all lowercase rather than all uppercase.
- The glacier identifier `WGMS_ID` is renamed `glacier_id` in the data tables and references column [`id`](#glacier.id) in table [`glacier`](#glacier). For clarity, it should be referred to externally as the `wgms_fog_glacier_id` or equivalent.
- All dates are formatted as `yyyy-mm-dd` (no more `99` for unknown month and/or day) and accompanied by an uncertainty column in days. For example, `date: 1986-09-30` and `date_unc: 1` represents the interval 1986-09-29 to 1986-10-01.
- Tables `mass_balance` (glacier-wide and elevation-band balance) and `mass_balance_overview` (overview) are renamed `mass_balance` (overview and glacier-wide balance) and `mass_balance_band` (elevation-band balance).
- New table [`state_band`](#state_band) stores area and mean elevation by elevation band.
- Table `change` is split into tables [`change`](#change) (glacier-wide) and [`change_band`](#change_band) (elevation-band). Area changes are moved to timeseries of area in the [`state`](#state) and [`state_band`](#state_band) tables.
- Glacier outlines are associated to glacier-wide measurements with column `outline_id` or columns `begin_outline_id` and `end_outline_id`. These columns report either a [GLIMS](https://www.glims.org) analysis id (e.g. glims:754359), an [RGI](https://www.glims.org/RGI) id (RGI2000-v7.0-G-11-02773), or the integer id of a custom outline (stored in the `outline` table, available upon request).
- Columns `investigators` and `agencies` use a consistent format and reference records in the new tables [`person`](#person) and [`agency`](#agency).

<div class='break-after'></div>

## Tables

{% for resource in package.resources %}
[`{{ resource.name }}`](#{{ resource.name }}){% if not loop.last %} · {% endif %}
{% endfor %}{{ "\n" }}

{% for resource in package.resources %}
  {% include 'resource-publish.md.jinja' %}
  {% if not loop.last %}
  <div class='break-after'></div>
  {% endif %}
{% endfor %}
