# Report: {{ 'VALID' if valid else 'INVALID' }}

{{ counts }}
{% if errors %}

## Errors

{{ errors }}
{% endif %}
{% if fails_table %}

## Failures: Table-level checks

{{ fails_table }}
{% endif %}
{% if fails_in %}

## Failures: Column and row-level checks

{{ fails_in }}
{% endif %}
{% if fails_out %}

## Failures on omitted tables, columns, or rows

{{ fails_out }}
{% endif %}
