## <a name="{{ resource.name }}"></a>`{{ resource.name }}`

{{ resource.description }}

**Columns**: {% for field in resource.schema.fields %}
[`{{ field.name }}`](#{{ resource.name }}.{{ field.name }}){% if not loop.last %} | {% endif %}
{% endfor %}{{ '\n' }}

{% for field in resource.schema.fields %}
### <a name="{{ resource.name }}.{{ field.name }}"></a>`{{ field.name }}`

{% include 'field.md.jinja' %}

{% endfor %}
