### `{{ resource.name }}`

{{ resource.description }}

* `path`: `{{ resource.path }}`
* `primaryKey`: {% for column in resource.schema.primaryKey %}[`{{ column }}`](#{{ resource.name }}.{{ column }}){% if not loop.last %} · {% endif %}{% endfor %}
{% if resource.schema.foreignKeys %}
{{ "\n" }}* `foreignKeys`
{% for key in resource.schema.foreignKeys %}
  - {% for column in key.fields %}[`{{ column }}`](#{{ resource.name }}.{{ column }}){% if not loop.last %} · {% endif %}{% endfor %} → {% for column in key.reference.fields %}[`{{ key.reference.resource or resource.name }}.{{ column }}`](#{{ key.reference.resource or resource.name }}.{{ column }}){% if not loop.last %} · {% endif %}{% endfor %}
{{ "\n" }}{% endfor %}{% else %}{{ "\n" }}{% endif %}

| name | type | description |
| :-- | :---- | :------------------ |
{% for field in resource.schema.fields %}
| <a name="{{ resource.name }}.{{ field.name }}"></a>`{{ field.name }}`{% if field.constraints and field.constraints.required %}<br>_required_{% endif %} | {{ field.type }}{% if field.units %}<br>({{ field.units }}){% endif %}{% if field.format %}<br>(yyyy-mm-dd){% endif %} | {{ field.description.replace('\n\n', '\n').replace('\n', '<br>') }} |
{% endfor %}
