### `{{ resource.name }}`

{{ resource.description }}

| name | type | description |
| :-- | :-- | :--------------------- |
{% for field in resource.schema.fields %}
| <a name="{{ resource.name }}.{{ field.name }}"></a>`{{ field.name }}`{% if field.constraints and field.constraints.required %} (required){% endif %} | {{ field.type }}{% if field.units %} [{{ field.units }}]{% endif %}{% if field.format %} ({{ field.format }}){% endif %} | {{ field.description.replace('\n\n', '\n').replace('\n', '<br>') }} |
{% endfor %}
