/* General
========================================================================== */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  color: #28272d;
  line-height: 1.7;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

h1.title {
  border-bottom: none;
  margin-top: 0;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px dotted #eee;
}

h3 {
  font-size: 1.25em;;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
  color: #777;
}

ol, ul {
  padding-left: 1.5em;
}

@media screen {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    padding: 2em;
  }
}

.larger-text {
  font-size: 115%;
}

/* Links
========================================================================== */

a {
  color: #4078c0;
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: underline;
}

a > code {
  color: inherit;
}

/* Code
========================================================================== */

code {
  color: #18171d;
  padding: 0.2em 0.3em;
  margin: 0;
  font-family: 'GitLab Mono', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  white-space: break-spaces;
}

pre > code.sourceCode {
  padding: 0;
  background-color: transparent;
  white-space: pre-wrap;
}

pre.sourceCode {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}


/* Tables
========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

table th {
  font-weight: bold;
  border: 1px solid #dedede;
  border-bottom: 2px solid #dedede;
  padding: 6px 13px;
  background-color: #f4f4f4;
}

table td {
  border: 1px solid #dedede;
  padding: 6px 13px;
  vertical-align: top;
}

table td > p:first-child {
  margin-top: 0;
}

table td > p:last-child {
  margin-bottom: 0;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table.example tr {
  border: none;
  background-color: transparent;
}

table.example td {
  border: none;
  padding: 2px 13px;
}


/* Page breaks
========================================================================== */

.break-before {
  page-break-before: always;
}

.break-after {
  page-break-after: always;
}


/* Fine tuning
========================================================================== */

/*
Force empty anchors to be included in PDF output (wkhtmltopdf)
https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1554#issuecomment-36514510
https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3486
*/
a:empty {
  display: block;
  position: absolute;
}
